.right-section {
    background-color: rgb(58, 58, 218);
    padding: 5px;
}

.form {
    /* background-color: red; */
}

.form > input {
    margin-bottom: 10px;
    height: 25px;
    padding-left: 5px;
    /* text-transform: capitalize; */
}

.right-section button {
    background-color: rgb(0, 178, 190);
    border: none;
    width: 100%;
    height: 25px;
    margin-bottom: 50px;
}
