.product-box {
    /* background-color: red; */
    background-color: white;
    width: calc(25% - 10px);
    margin: 5px;
}

.product-box > img {
    width: 100%;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
}

.product-box > .data-section-1 {
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
    font-family: "Courier New", Courier, monospace;
}

.product-box > .data-section-2 {
    font-size: 10px;
    font-weight: 400;
    padding-left: 10px;
    padding-bottom: 10px;
    font-family: "Courier New", Courier, monospace;
}
