* {
    padding: 0;
    margin: 0;
}

.page-container {
    /* background-color: red; */
}

.body-section {
    /* background-color: red; */
    display: flex;
}

.body-section > .left-section {
    width: 70%;
    /* background-color: green; */
}

.body-section > .right-section {
    width: 30%;
    /* background-color: blue; */
}
